<ion-card>
  <ion-card-header>
    <ion-card-title text-center>
      <ion-badge *ngFor="let sensorId of getSensorsId()"
                 [style.font-size]="'1.5em'"
                 [style.background]="getColor(sensorId)"
                 margin-start margin-end >{{getLastValue(sensorId)}} {{getUnit(sensorId)}}</ion-badge>
      <span *ngIf="!hasData()">{{sensorGroup.name}}</span>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-col size="12" *ngIf="!hasData()" text-center>
      <p>Pas de données pour la source <b>{{getSourceName()}}</b></p>
    </ion-col>
    <div *ngIf="hasData()" #chart [chart]="chartComponent"></div>
  </ion-card-content>
</ion-card>
