.sensorFabButton{
    width: 35px !important;
    height: 35px !important;
}

.my-custom-modal-css {
    height: 100%;
    top: 80%;
    width: 100%;
    position: absolute; 
    display: block;  
 }
