<ion-card>
  <ion-card-header>
    <ion-card-title>Graphiques</ion-card-title>
  </ion-card-header>
  <ion-card-content style="max-height: 400px; overflow-y: scroll;">
    <div>
      <ion-list>
        <ion-item *ngFor="let group of dataService.getSensorGroups()">
          <ion-input type="text" [(ngModel)]="group.name" (keyup.enter)="updateSensorGroup(group)" ></ion-input>
          <ion-fab-button end color="primary" (click)="confirmationAlert(group)" class="sensorGroupFabButton">
              <ion-icon name="remove"></ion-icon>
            </ion-fab-button>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="newGroupName" type="text" placeholder="Nouveau graphique" (keypress)="onKeyPressed($event.keyCode)"></ion-input>
          <ion-button (click)="addSensorGroup()"> Ajouter</ion-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-card-content>
</ion-card>
