<ion-content padding>
      <ion-list>     
          <ion-item>
              <ion-label position="floating">Nom du capteur</ion-label>
              <ion-input placeholder="Température de l'eau" [(ngModel)]="sensor.name"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Unité</ion-label>
              <ion-input placeholder="Unité" [(ngModel)]="sensor.unit"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Seuil Minimum</ion-label>
              <ion-input type="text" color="primary" placeholder="Seuil minimum" [(ngModel)]="sensor.minThresholdValue"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Message alerte</ion-label>
              <ion-input type="text" color="primary" placeholder="Seuil minimum" [(ngModel)]="sensor.minThresholdAlertMessage"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Seuil Maximum</ion-label>
              <ion-input type="text" placeholder="Seuil maximum" [(ngModel)]="sensor.maxThresholdValue"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Message alerte</ion-label>
              <ion-input type="text" placeholder="Seuil maximum" [(ngModel)]="sensor.maxThresholdAlertMessage"></ion-input>
          </ion-item>
          <ion-item justify-content-center>
              <ion-button end (click)="sensorDismiss()">Annuler</ion-button>
              <ion-button (click)="sensorValidate()">Valider</ion-button>
          </ion-item>
        </ion-list>
</ion-content>
