<ion-content padding>
    <form [formGroup]="sensorForm" (ngSubmit)="validateForm()">
          <ion-item>
              <ion-label position="floating">Nom du capteur</ion-label>
              <ion-input color="primary" name="nomCapteur" formControlName="nomCapteur"
            placeholder="Température de l'eau"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Unité</ion-label>
              <ion-input color="primary" name="unite" formControlName="unite"
              placeholder="Unité"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Seuil Minimum</ion-label>
              <ion-input color="primary" name="seuilMini" formControlName="seuilMini" 
               placeholder="Seuil minimum"></ion-input>
          </ion-item>
          <div *ngIf="!errorTreshold"
          class="alert-danger">
        Attention le seuil minimum doit être inférieur au seuil maximum
        </div>
          <ion-item>
              <ion-label position="floating">Message alerte (Seuil Minimum)</ion-label>
              <ion-input color="primary" name="messageSeuilMini" formControlName="messageSeuilMini"
               placeholder="Message seuil minimum"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating" >Seuil Maximum</ion-label>
              <ion-input  color="primary" name="seuilMaxi" formControlName="seuilMaxi"
               placeholder="Seuil maximum"></ion-input>
          </ion-item>
        <div *ngIf="!errorTreshold"
          class="alert alert-danger">
        Attention le seuil minimum doit être inférieur au seuil maximum
        </div>
          <ion-item>
              <ion-label position="floating">Message alerte (Seuil Maximum)</ion-label>
              <ion-input color="primary" name="messageSeuilMaxi" formControlName="messageSeuilMaxi"
               placeholder="Message seuil maximum"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Type de capteur</ion-label>
            <ion-select interface="action-sheet" formControlName="selectSensorGroup" placeholder="{{sensorGroup?.name}}">
              <ion-select-option *ngFor="let group of dataService.getSensorGroups()" >{{group.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="buttonContainer">
            <ion-button color="light" (click)="sensorDismiss()">Annuler</ion-button>
            <ion-button type="submit" [disabled]="!sensorForm.valid">Valider</ion-button>
          </div>
    </form>
</ion-content>
