<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-select slot="end"
                [(ngModel)]="dateRangeSelected" (ionChange)="onChangeDateRange()"
                [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
      <ion-select-option *ngFor="let tick of dateRange; let i = index" [value]="i">{{tick.name}}</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-chart [title]="mockData1.title" [data]="mockData1.data" [dateRange]="dateRange[dateRangeSelected].timestamp"></app-chart>
    <app-chart [title]="mockData2.title" [data]="mockData2.data" [dateRange]="dateRange[dateRangeSelected].timestamp"></app-chart>
</ion-content>
