<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-select slot="end"
                [(ngModel)]="sourceSelected" (ionChange)="onChangeSource()"
                [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
      <ion-select-option *ngFor="let source of getSourceOptions()">{{source}}</ion-select-option>
    </ion-select>
    <ion-select slot="end"
                [(ngModel)]="dateRangeSelected" (ionChange)="onChangeDateRange()"
                [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
      <ion-select-option *ngFor="let tick of dateRange; let i = index" [value]="i">{{tick.name}}</ion-select-option>
      <ion-select-option [value]="-1"><span>Personnalisé</span></ion-select-option>
    </ion-select>
    <ion-icon *ngIf="dateRangeSelected === -1"
              slot="end" name="calendar" (click)="openModal()"></ion-icon>
    <ion-icon slot="end" name="settings" [routerDirection]="'root'" [routerLink]="'/preferences'"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-button (click)="addData()">Add Data</ion-button>
    <ion-button (click)="addAlert()">Trigger Alert</ion-button>
  </ion-row>
  <app-chart *ngFor="let data of dataService.getDatas()"
             [data]="data"></app-chart>
</ion-content>
